@{
    ViewBag.Title = "index";
   
}


<div id="sliderFrame" style ="height:auto; width:55%;margin-left:25%">
        <div id="slider" style ="width:100%">
            <img src="~/images/ss2.jpeg" />
            
        </div>

</div> 


